{% layout "layout.liquid" %} {% block content %}
<div>
 
<a href="/artists/playlists"><button>playlist</button></a>

    <a href="/users/logout"><button>Logout</button></a>

<!-- {% for a in artists %} 

  <article>
    <a href="/artists/{{ a._id }}"> <h1> {{ a.name }} </h1> 
    
    </a>
  </article>
  {% endfor %}  -->


 
  {% for e in id %}

<div>
  <a href="/artists/{{ e.id }}"> 
<h1>{{ e.name  }}</h1>
  <img src="{{ e.images[0].url }}" alt="">
</a>
</div>
  {% endfor %}

</div>
{% endblock %}
