{% layout "layout.liquid" %} {% block content %}
    <div class="plbutton" >
    <form action="/Artists/new" method="get">
        <input type="submit" value="Create A Track" />
      </form>
        <a href="/Artists/"><button>Back to Main</button></a>
      </div>

    {% for a in artistss %}
<div class="pldiv">
      <h1  type="text" name="name" > {{ a.name }} </h1>
      <h2 type="text" name="album" >{{ a.album }}</h2>

<audio  controls >
    <source   name="aud" src="{{ a.aud }}" type="audio/mpeg">
  </audio>
 
  <form action="/Artists/{{ a._id }}?_method=DELETE" method="POST">
    <input type="submit" value="Delete" />
  </form>

  <form action="/Artists/{{ a._id }}/edit" method="get">
    <input type="submit" value="Edit" />
  </form>


</div>
    
    {% endfor %}
    {% endblock %}