{% layout "layout.liquid" %} {% block content %}
    
    <form action="/Artists/new" method="get">
        <input type="submit" value="Create A Playlist" />
  
</form>
<a href="/Artists/"><button>Back to Main</button></a>
    {% for a in artists %}
<div>
      <h1> {{ a.name }} </h1>
      <h2>{{ a.album }}</h2>

<audio  controls >
    <source src="{{ a.audio }}" type="audio/mpeg">
  </audio>
 


  <h2>{{ a.artistName }}</h2>
  <h3>{{ a.name }}</h3>

  <form action="/Artists/{{ a._id }}?_method=DELETE" method="POST">
    <input type="submit" value="Delete" />
  </form>
  <a href="/Artists/{{ a._id }}/edit"><button>Edit</button></a>

</div>
    
    {% endfor %}
    {% endblock %}