{% layout "layout.liquid" %} {% block content %}
  <article>

    {% for e in  src %}
    <form action="/artists/playlists" method="POST">


<div class="showdiv" >
<input class="hidden" type="text" name="name" value=" {{ e.artistName }} ">
<input class="hidden" type="text" name="album" value=" {{ e.name }} " >
<input class="hidden" type="text" name="aud" value=" {{ e.previewURL }} " >

<h2>{{ e.artistName }}</h2>
<h3> {{ e.name }} </h3>
<audio  controls >
  <source name="aud" class="audio" src="{{ e.previewURL }}" type="audio/mpeg">
</audio>

<input type="submit" value="Add to Favorites" />
</form>

<form action="/artists/lyricsshow" method="POST" >
  <input class="hidden" name="name" type="text" value=" {{ e.artistName }}" />
  <input  class="hidden" name="title" type="text" value=" {{ e.name }} " />
  <input class="hidden" type="text" name="aud" value=" {{ e.previewURL }} " >
  <input type="submit" value="Show Lyrics" />
 </form>
  

</div>

{% endfor %}

</article>
{% endblock %}
     